[submodule ".config/ranger/colorschemes"]
	path = .config/ranger/colorschemes
	url = https://github.com/ranger/colorschemes
[submodule ".config/tmux/plugins/tmux-better-mouse-mode"]
	path = .config/tmux/plugins/tmux-better-mouse-mode
	url = https://github.com/nhdaly/tmux-better-mouse-mode
[submodule ".config/tmux/plugins/tmux-sensible"]
	path = .config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
